body{
	background: #2c3866;
}

a{
	text-decoration: none;
	color:  white;
}

.titulo{
	text-align: center;
	margin-top: 150px;
	margin-bottom: 75px;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;

}



.face{
	width: 90%;
	height: 50px;
	margin-left: 5%;
	background: #1d2647;
	text-align: center;
	line-height: 50px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: 'Didact Gothic', sans-serif;
}




.insta{
	width: 90%;
	height: 50px;
	background: #d6185d;
	margin-bottom: 10px;
	margin-left: 5%;
	text-align: center;
	border-radius: 5px;
	line-height: 50px;
	font-family: 'Didact Gothic', sans-serif;

}


.yutu{
	width: 90%;
	height: 50px;
	background: #e31e1e;
	margin-bottom: 10px;
	margin-left: 5%;
	text-align: center;
	border-radius: 5px;
	line-height: 50px;
	font-family: 'Didact Gothic', sans-serif;
}


.disc{
	width: 90%;
	height: 50px;
	background: #7d0ec2;
	margin-left: 5%;
	text-align: center;
	border-radius: 5px;
	line-height: 50px;
	font-family: 'Didact Gothic', sans-serif;
}

